.text-field-input::placeholder
    color: #AAAAAA
    font-size: 12px

#data-picker-input > input
    padding-top: 6px !important
    background: white
    opacity: 75%

.data-picker-input
    background-color: white
    top: -2px
    position: relative
    color: greyscale()
    border-radius: 5px
    height: 40px
    padding: 0px
    margin: 0px
    overflow: hidden
    width: 100%
    opacity: 75%
.MuiInputBase-root
    &:focus
        border: transparent

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline
    border: 1px solid black

.input-wrapper
    position: relative
    display: flex
    margin-bottom: 14px
    font-size: 22px
    color: white
    opacity: 75%

input::placeholder-show
    color: red

.form-control
    &:hover, &:active, &:focus
        border: 1px solid #1a1a1a
        border-radius: 5px
        box-shadow: none

#i-icon
    position: absolute
    right: 10px
    cursor: pointer
