input
    margin: 0 auto
    background-color: black
    opacity: 50%
    color: white
    margin-top: 10px
    width: 300px
    height: 59px
    font-size: 22px

.input-wrapper
    position: relative
    display: flex
    margin-bottom: 14px

#i-icon
    position: absolute
    top: 25%
    right: 5%
    cursor: pointer
