#text-carroussel {
  text-shadow: 1px 1px 5px #000000;
  color: #FFFFFF;
}

#image-primary-carroussel {
  height: 350px;
  background-image: url('./home-carroussel.png');
  background-repeat: no-repeat
}

#link-more {
  padding: 20px;
  font-size: 20px;
  color: #FFFFFF;
  text-decoration: none;
  text-shadow: 1px 1px 5px #000000
}