a {
    font-size: 20px;
    color: white;
    text-decoration: none;
}

#user-dropdown {
    width: 270px;
}

#icon-arrow {
    margin: 0 0 0 100px;
    cursor: pointer
}

.nav-item {
    cursor: pointer;
    font-size: 20px
}

.link-sub-item-menu {
    padding: 10px 60px;
    font-size: 14px;
    transition: background-color 0.2s;

    &:hover {
        background-color: rgba(255, 255, 255, 0.05);
    }
}

.dropdown-item:active,
.dropdown-item:hover {
    background-color: rgba(255, 255, 255, 0.05);
    cursor: pointer;
}

.dropdown {
    cursor: pointer;
}

#div-icon-bar {
    cursor: pointer
}

.div-header {
    height: 60px;
    width: 100%;
    background-color: #1A202C;
    box-shadow: 0 0 10px 3px;
    margin: 0
}

.icon-bar {
    width: 40px;
    height: 40px;
    color: white;
    margin: 10px;
    cursor: pointer;
}

#div-sideBar {
    animation: showSidebar .2s;
    margin: 0;
    display: flex;
    flex-direction: column;
}

@keyframes showSidebar {
    from {
        opacity: 0;
        width: 0;
    }

    to {
        opacity: 1;
        width: 300px;
    }
}

@media only screen and (max-width: 425px) {
    #products-sale-title {
        text-align: center;
    }

    #item {
        width: 30%;
    }

    #product {
        width: 70%;
    }

    #quantity,
    #unit-value {
        width: 50%;
    }

    #subtotal {
        width: 70%;
    }

    #buttons-product {
        width: 30%;
    }

    #name-user-log {
        display: none
    }

    #user-dropdown {
        width: 60px;
        transform: translate3d(12px, 60px, 0px);
    }
}